html {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-align: center;
    max-width: 1170px;
}

.top {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #004e66;
    padding: 15px 30px 15px 30px;
}

.top img {
    display: flex;
    width: 50px;
    padding-left: 30px;
}

.top p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-family: sans-serif;
}

.mid {
    display: flex;
    justify-content: space-between;
    background-color: #e1eef6;
    padding: 0 30px;
}

.mid h1 {
    text-align: left;
}

.mid p {
    color: #004e66;
    text-align: left;
    font-family: sans-serif;
}

.mid a {
    color: #004e66;
    text-align: left;
    font-family: sans-serif;
    text-decoration: none;
}

.carresicapasse {
    padding: 15px 0;
    background-color: #ff5f2e;
}
