@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);/* import de la police de la page en elle même*/
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatfce&display=swap);/*import de la police du titre de la page*/
*{
    font-family: 'Montserrat';/*utilisation de la police en elle même*/
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
  }
.top-page{
    display: flex;
    margin: 0;
    background-color: aqua;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
/*tête de page*/
header.header{
    display: flex ;/*un créer une autre flex boxe pour les boutons de menu*/
    align-items: center ;/* on s'assure que cette flex box soit centrer*/
    /*background-color: blueviolet;*/
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
}

.landing-paris{
    display: flex;
    justify-content: flex-end;
    background-color: blue;
}
.landing-image-paris{
    display: flex;
    background-color: aquamarine;
    justify-content: flex-start;
   
}

.landing-image {
    background: url(photoParis/chris-karidis-nnzkZNYWHaU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
    background-color: brown;
  }

#header.nav{
    display: flex;/*une flex boxe est une boite qui va contenir des itermes qu'on disposer comme on le souhaite */
    justify-content: space-between;/*pour mettre de l'espace entre chaque <li>*/
    list-style: none;/*on enlève les puces, on lui donne du style*/
    /*background-color: blue; permet de voir où se situe la flex box*/
    width: 400px;/*on modifie les largeurs entre les éléménts, ici on aggrandi la boite*/
    margin-left:30px ;/*pour décaler la boîte du logo, on joue sur les marges*/
    background-color: pink;
}

#header.h3{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
}
#header.p{
    display: flex;
    background-color: azure;
}
#foot{
    display: flex;
    background-color: yellow;
    flex-direction: column;
    flex-wrap: row wrap;
    align-items: flex-end;
}
.caption{
    display: flex;
    background-color: purple;
    justify-content: space-between;
}
.caption h4{
    
}
.other{
    display: flex;
    background-color: blue;
    justify-content: space-between;
    flex-wrap: wrap;
}
.description{
    display: flex;
    background-color: red;
    justify-content: space-between;
}
nav.nav{
    display: flex;/*une flex boxe est une boite qui va contenir des itermes qu'on disposer comme on le souhaite */
    justify-content: space-between;/*pour mettre de l'espace entre chaque <li>*/
    list-style: none;/*on enlève les puces, on lui donne du style*/
    /*background-color: blue; permet de voir où se situe la flex box*/
    width: 400px;/*on modifie les largeurs entre les éléménts, ici on aggrandi la boite*/
    margin-left:30px ;/*pour décaler la boîte du logo, on joue sur les marges*/

}
