@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');


html,
body {
    margin: 0;
    padding: 0;
}

.inner {

    width: 80%;
    margin: auto;
}

.menu {
    background: gray;
    width: 100%;
    height: 66px;
    line-height: 66px;

}

.m-left{
    float: left;
}

.logo-img {
    margin-right: 20px;
    font-size: 20px;
}

#titre {
    margin: 0;
    padding: 0;
    color: #004E66;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 1px;
}

.m-right {
    float: right;
}

.link {
    color: #004E66;
    font-family: 'Lato';
    text-decoration: none;
    padding: 0;
    margin: 0 30px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;

}

.link:hover {
    padding-bottom: 2px;
    border-color: #004E66;
}

.m-nav {

    width: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    float: left;
}

span.icon, span.icon:before, span.icon:after {
    content: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    position: relative;
}

span.icon:before { top: 12px;}
span.icon:after { top: -14px;}

@media only screen and (max-width:880px) {
    .m-right {
        display: none;
    }
}